@import "./../../partials/_variables.scss";
@import 'https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Open+Sans|Pinyon+Script';
$color-01: #ffffff;
$color-02: rgba(23,23,23,1);
html,
body,
#hero .container-fluid,
#hero .row
{
  height: 100%;
}
.flex-center-all{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col{
  flex-direction: column;
}


@media (min-width: $screen-md-min) {
  .hours-container,
  .map-container,
  .container-fluid,
  .row,
  #map
  {
    height: 100%;
  }
  .be-social, .be-social .flex-col{
    height: 850px;
  }

  #social{
    padding-top: 60px;
    .be-social{
      .flex-col{
        margin: 0 auto;
        width: 450px;
        flex-direction: row;
        &>div{
          flex-grow: 1;
          .btn{
            margin: 0 auto;
          }
        }
      }
    }
  }

}
@media (max-width: $screen-md-min) {
  .map-container{
    height: 450px;
    margin-bottom: 80px;
  }
  .hours-container.flex-center-all{
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
  #social{
    padding-top: 60px;
    .be-social{
      .flex-col{
        margin: 0 auto;
        width: 450px;
        flex-direction: row;
        &>div{
          flex-grow: 1;
          .btn{
            margin: 0 auto;
          }
        }
      }
    }
    .title{
      margin-top: 60px;
    }
  }
}

h2.title{
  font-family: 'Pinyon Script', cursive;
  font-size: 52px;
  margin-bottom: 40px;
}
.box-out{
  background-color: $color-01;
  padding: 2px;
  border: 4px black solid;
  display: inline-block;
  min-width: 450px;
  .box-in{
    padding: 15px 45px;
    border: 2px black solid;
  }
}


#hero{
  background-color: $color-01;
  //background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  //background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  //background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
  height: 100%;
  flex-direction: column;
  .hero-one{
    flex-grow: 3;
    .box-out{
    }
  }
  .hero-two{
    flex-grow: 1;
    .scroll-down{
      i{
        margin-top: 20px;
        display: block;
        animation: pulse 2s infinite;
        color: $color-02;
        &:before {
          border-style: solid;
          border-width: 0.25em 0.25em 0 0;
          content: '';
          display: inline-block;
          height: 20px;
          position: relative;
          transform: rotate(135deg);
          vertical-align: top;
          width: 20px;
        }
      }
    }
  }
  h1{
    font-family: 'Pinyon Script', cursive;
    margin-bottom: 0;
    font-size: 72px;
  }
  h2{
    margin-top: 0;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
  }
}


#map{
  .map-container{
    padding-left: 0px;
    padding-right: 0px;
    min-height: 450px;
    #google-map{
      width: 100%;
      height: 100%;
    }
  }
  .hours-container{
    flex-direction: column;
  }
  .box-out{
    //border: transparent 1px solid;
    .box-in{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .hours-height{
    min-height: 45px;
  }

}


#social{
  .is-social{
    .twitter-box{
      .box-in{
        height: 750px;
        overflow-y: scroll;
      }
    }
  }

  .box-out{
    margin-top: 0px;
    margin-bottom: 45px;
    .box-in{
      padding: 0;
      width: 450px;
    }
  }
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  .be-social{
    //background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    //background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
    //background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
    .btn-block{
      width: 150px;
    }
  }
  .btn-fb, .btn-tw{
    border-radius: 0;
    color: white;
  }
  .btn-fb{
    background: #3b5998;
    &:hover{
      background: #8b9dc3;
    }
    &:active,&:focus{
      background: #3b5998;
    }

  }
  .btn-tw{
    background: #55acee;
    &:hover{
      background: #8ec1da;
    }
    &:active,&:focus{
      background: #55acee;
    }
  }
}

footer#footer{
  padding-top: 20px;
  background: #000;
  height: 250px;
  color: #fff;
  h2{
    margin-bottom: 0;
    &.open{
    font-family: serif;
    }
  }
  h3{
    margin-top: 0;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px); }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }


@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
  @return $x1;
}
$pinWidth: 50px;
$pinHeightFactor: ((1 + sqrt(2))/2);
$pinHeight: $pinHeightFactor * $pinWidth;
$pinColor: lighten($color-02, 10%);
$shadowOpacity: .5;
$shadow-size: 50px;
$pulseSize: $pinWidth;
$pinBorder: (($pinWidth * 18)/100);
.pin-wrap {
  position: absolute;
  width: $pinWidth;
  height: $pinWidth;
  margin-top: -$pinHeight;
  margin-left: -$pinWidth/2;
  transform-origin: 50% ($pinHeightFactor * 100%) 0;
}
.pin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $pinWidth;
  height: $pinWidth;
  margin-top: -$pinWidth/2;
  margin-left: -$pinWidth/2;
  transform-origin: 50% ($pinHeightFactor * 100%) 0;
}
.pin::after {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: $pinWidth;
  height: $pinWidth;
  content: '';
  transform: rotateZ(-45deg);
  border: ($pinBorder) solid $pinColor;
  border-radius: 50% 50% 50% 50%;
}
.pin::before {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: $pinWidth;
  height: $pinWidth;
  content: '';
  transform: rotateZ(-45deg);
  border: ($pinBorder) solid darken($pinColor, 10%);
  border-radius: 50% 50% 50% 0;
;
}
.shadow {
  position: absolute;
}
.shadow::after {
  position: absolute;
  left: -100px - $shadow-size/2;
  display: block;
  width: $shadow-size;
  height: $shadow-size;
  margin-top: -$shadow-size/2;
  content: '';
  transform: rotateX(55deg);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, $shadowOpacity) 100px 0 20px;
}
.pulse {
  position: absolute;
  margin-top: -$pulseSize/2;
  margin-left: -$pulseSize/2;
  transform: rotateX(55deg);
}
.pulse::after {
  display: block;
  width: $pulseSize;
  height: $pulseSize;
  content: '';
  animation: pulsate 1s ease-out;
  animation-delay: 1.1s;
  animation-iteration-count: infinite;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, $shadowOpacity);
  box-shadow: 0 0 6px 3px rgba($pinColor, 1.0);
}
@keyframes pulsate {
  0% {
    transform: scale(.1, .1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}